div {
    border: 2px solid #70d2d2;
    border-bottom-left-radius: 5%;
    /* скругление углов */
    height: 100px;
    width: 400px;

    /*margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin: top right bottom left
    */
    margin: 100px auto;
    /* отступ сверху и снизу 100, справа и слева - автомат */
    padding: 40px 20px;
    /* верх-низ: 40, лево-право: 20 */
    font-size: 14px;
    color: red;
}

code {
    background: #44de53;
    border-radius: 6px;
    color: white;
    display: block;
    padding: 24px 15px;
    text-align: center;
}

header,
section,
aside,
footer {
    margin: 0 auto 24px auto;
}

section {
    float: left;
    margin: 10% 1.5%;
    width: 27%;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
}

footer {
    clear: both;
}